$white: #FFF;
$blue: #38AEF0;
$gray: #434a54;


.sideSpace {
  color: $white;
  width: 300px;
  float: left ;
  box-sizing: border-box;

  .header {
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    background-color:  #253141;

    &__username {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__link {
      display: inline-block;
      float: right;
      .link {
        display: inline-block;
      }
      .symbol{
        color: $white;
        font-size: 16px;
      }
    }
  }

  .middler {
    height: calc(100vh - 100px);
    padding: 0 20px;
    background-color: #2f3e51;

    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__id {
        font-size: 15px;
      }
      &__message {
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }
}



.chat {
  width: calc(100vw - 300px);
  float: right ;

  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .left-header {
      float: left;
      &__id {
        margin-top: 35px;
        color: #333;
        font-size: 20px;
      }
      &__members {
        margin-top: 15px;
        font-size: 12px;
        color: #999;
        display: flex;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      &__submit {
      color: $blue;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      float: right;
      margin-top: 28px;
      border: 1px solid $blue;
      }
    }
  }

  .main {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    .contributer {
      .paramater {
        display: flex;
        &__user-id {
          color: $gray;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .message {
        margin-top: 10px;
        margin-bottom: 40px;
        color: $gray;
        font-size: 14px;
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      height: 50px;
      width: calc(100% - 150px);
      float: left;
      padding-left: 10px;
    }
    &__send {
      background-color: $white;
      height: 50px;
      padding-right: 10px;
      float: left;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $blue;
      border: none;
      height: 50px;
      color: $white;
      font-size: 16px;
      padding: 0 30px;
      float: right;
    }
  }
}
