.message{"data-message-id" => message.id}
  .top-content
    .top-content__id
      = message.user.name
    .top-content__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .bottom-content
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'bottom-content__image' if message.image.present?
